# Northwind project

Northwind is a classic sample database that models a small international wholesale company, Northwind Traders. It contains realistic data on customers, suppliers, employees, products, and orders, allowing you to analyze the full sales process from product sourcing to order fulfillment.

questions link:

https://github.com/ndleah/northwind/blob/main/queries/01_query.sql

### Question 1 

For their annual review of the company pricing strategy, the Product Team wants to 
look at the products that are currently being offered for a specific price range ($20 to $50). 

In order to help them they asked you to provide them with a list of products with the following information:
1. their name
2. their unit price

Filtered on the following conditions:

1. their unit price is between 20 and 50
2. they are not discontinued

Finally order the results by unit price in a descending order (highest first).

In [20]:
import pandas as pd 

products = pd.read_csv('./data/Northwind_dataset/products.csv')

# 1) Filter on price range AND not discontinued
df_res = products[products['unitprice'].between(20,50)] 
df_res =  df_res[df_res['discontinued'] == 0] 

df_res = (
    df_res[['productname', 'unitprice']]
    .sort_values(by='unitprice', ascending=False)
    .reset_index(drop=True)
    .head()
)
df_res

                  productname  unitprice
0              Tarte au sucre       49.3
1                 Ipoh Coffee       46.0
2          Schoggi Schokolade       43.9
3                Vegie-spread       43.9
4  Northwoods Cranberry Sauce       40.0


### Question 2

The Logistics Team wants to do a retrospection of their performances for the year 1998, 
in order to identify for which countries they didn’t perform well. They asked you to 
provide them a list of countries with the following information:

1. their average days between the order date and the shipping date (formatted to have only 2 decimals)
2. their total number of orders (based on the order date). Filtered on the following conditions:
	1. the year of order date is 2015
	2. their average days between the order date and the shipping date is greater or equal 5 days
	3. their total number of orders is greater than 10 orders

Finally order the results by country name in an ascending order (lowest first).

In [22]:
import pandas as pd

orders = pd.read_csv("./data/Northwind_dataset/orders.csv")
customers = pd.read_csv("./data/Northwind_dataset/customers.csv")

# Merge orders with customer country
df = orders[["customerid", "orderdate", "shippeddate"]].merge(
    customers[["customerid", "country"]],
    on="customerid",
    how="inner"
)

# 1) Calculate shipping time in days
df["orderdate"] = pd.to_datetime(df["orderdate"])
df["shippeddate"] = pd.to_datetime(df["shippeddate"])
df["shipping_time"] = (df["shippeddate"] - df["orderdate"]).dt.days

# 2) Keep only orders in 1998 (or 2015 if that’s really what you want)
df = df[df["orderdate"].dt.year == 2015]

# 3) Aggregate by country
result1 = (
    df.groupby("country")
      .agg(
          average_shipping_time=("shipping_time", "mean"),
          total_orders=("customerid", "count")
      )
)

# 4) Format avg shipping time to 2 decimals
result1["average_shipping_time"] = result1["average_shipping_time"].round(2)

# 5) Apply filters: avg days >= 5, total orders > 10
result1 = result1[
    (result1["average_shipping_time"] >= 5)
    & (result1["total_orders"] > 10)
]

# 6) Sort by country ascending
result1 = result1.sort_index()

result1

Empty DataFrame
Columns: [average_shipping_time, total_orders]
Index: []

## Question 3
The HR Team wants to know for each employee what was their age on the date
they joined the company and who they currently report to. Provide them with 
a list of every employees with the following information:

1. their full name (first name and last name combined in a single field)
2. their job title
3. their age at the time they were hired
4. their manager full name (first name and last name combined in a single field)
5. their manager job title

Finally order the results by employee age and employee full name in an ascending order (lowest first).

In [ ]:
import pandas as pd

employee = pd.read_csv('./data/Northwind_dataset/employees.csv')

Index(['employeeid', 'lastname', 'firstname', 'title', 'titleofcourtesy',
       'birthdate', 'hiredate', 'address', 'city', 'region', 'postalcode',
       'country', 'homephone', 'extension', 'photo', 'notes', 'reportsto',
       'photopath'],
      dtype='object')

In [25]:
employee.columns

Index(['employeeid', 'lastname', 'firstname', 'title', 'titleofcourtesy',
       'birthdate', 'hiredate', 'address', 'city', 'region', 'postalcode',
       'country', 'homephone', 'extension', 'photo', 'notes', 'reportsto',
       'photopath'],
      dtype='object')